---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../components/layout";
import PostList from "../components/PostList";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getImage } from "astro:assets";

const sortedPosts = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort(
		(a, b) =>
			(b.data.pubDate || b.data.date).valueOf() -
			(a.data.pubDate || a.data.date).valueOf(),
	);

const posts = await Promise.all(
	sortedPosts.map(async (post) => {
		let optimizedImage = null;
		const imgData = post.data.heroImage || post.data.image;
		if (imgData) {
			optimizedImage = await getImage({
				src: imgData,
				width: 800,
				format: "webp",
			});
		}
		return { ...post, optimizedImage };
	}),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Layout>
			<PostList posts={posts} />
		</Layout>
	</body>
</html>
