@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--mainGrey);
  font-family: "Montserrat", sans-serif;
  color: var(--mainBlack);
}

footer {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

:root {
  --mainGrey: #eeeeee;
  --mainWhite: #ffffff;
  --mainBlack: #252525;
  --darkGrey: #979797;
}

.counter {
  color: #123444;
  margin: 2em 0;
}

.post-image {
  display: block;
  width: 20em;
  max-width: 100% !important;
  margin: 2rem auto;
}

.post-video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem;
}
